html, body{
  height: 100%;
  background-color:#eceff3;
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.col-md-2 {
	padding-bottom: 32767px;
	margin-bottom: -32767px;
	}

.blue{
    background-color: #21afff;
  }

.truetalk{
  width:auto;
  margin-top: 25px;
  margin-bottom: 32px;
  text-align: center;
  font-size:2em;
  color:white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color: #ff31a1;
color: white;
}

a:link, a:visited, a:hover, a:active{
  text-docoration: none;
  color: #464546;
}

div.inline{
   float:left;
}

div.inlineRight{
  float:right;
}

.padding{
  padding-left:2em;
}

.clearBoth {
  clear:both;
}

.titlecaps{
  text-transform: uppercase;
}

.list-group-item {
  border: none;
}

hr{
    height:1px;
    padding:0px;
    margin:0px;
}

.well{
  background-color:white;
}
